
/*		Tablet Layout: 768px.
		Gutters: 20px.
		Outer margins: 20px.
		Inherits styles from: Default Layout.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10    11   12
px      40    100    160    220    280    340    400    460    520    580   640  700      */

@media only screen and (min-width: 768px) and (max-width: 959px) {

    .page {
        width: 700px;
        padding: 0px 20px 60px;
    }

    .col2-left-layout .col-main { width: 520px; }
    .col2-left-layout .col-left { width: 160px; float: left;  }
    .checkout-onepage-index .col2-left-layout .col-left { width: 160px; float: left; margin-left: 20px; }
    .col2-right-layout .col-main { width: 520px; }
    .col2-right-layout .col-right { float: right; width: 160px; }

    .products-grid li.item {  }
    .sorter .view-mode { float: left; margin: 0; }

    .cart div.discount, .cart div.shipping { width: 220px;  }
    .cart .totals { width: 220px;}
    .cart .crosssell li.item { width: 335px; }

    .col1-layout .product-view .product-img-box { width: 340px; }
    .col1-layout .product-view .product-shop { width: 340px; }

    .product-view .product-shop .add-to-links li { display: block; }

    .cms-home ul.product-tabs { clear: both; }
    .cms-home .home-tabs .tabs-title strong { font-size: 26px; line-height: 1.38415385; float: none; }
    .cms-home .product-tabs li { float: none; border-right: none; border-bottom: 1px solid #ccc; }
    .cms-home .product-tabs li.first a { border: 0; border-radius: 0; }
    .cms-home .product-tabs li.last a { border: 1px 0; }
    .cms-home .product-tabs a { border-width: 1px 0; }
    .cms-home .product-tabs li.active a { border: 1px 0; border-radius: 0; color: #fff; background: #444; text-align: left; }

    .col2-left-layout .product-tabs li, .col2-right-layout .product-tabs li { float: none; border-right: none; border-bottom: 1px solid #ccc; }
    .col2-left-layout .product-tabs li.first a, .col2-right-layout .product-tabs li.first a, { border: 0; border-radius: 0; }
    .col2-left-layout .product-tabs li.last a, .col2-right-layout .product-tabs li.last a { border: 1px 0; }
    .col2-left-layout .product-tabs a, .col2-right-layout .product-tabs a { border-width: 1px 0; }
    .col2-left-layout .product-tabs li.active a, .col2-left-layout .product-tabs li.active a:hover, .col2-right-layout .product-tabs li.active a,
    .col2-right-layout .product-tabs li.active a:hover { border: 1px 0; border-radius: 0; color: #fff; background: #444; }


    .block-progress dt { font-size: 10px; line-height: 1.8; }

    .footer-left { width: 220px; padding: 0; }
    .footer-right { width: 400px; }
    .footer .help, .footer .search, .footer .store-options { width: 120px;}
    .footer .form-subscribe input.input-text { width: 100%; }
    .footer .form-subscribe label, .footer .form-subscribe .input-box, .footer .form-subscribe button.button { float: none; display: block; }
    .footer .form-subscribe button.button { margin-top: 9px; color: #fff; }

}



/*		Mobile Layout: 320px.
		Gutters: 20px.
		Outer margins: 20px.
		Inherits styles from: Default Layout.
-------------------------------------------------------------------------------
cols    1     2      3      4      5     
px      40    100    160    220    280    */

@media only screen and (max-width: 767px) {

    .page {
        width: 240px;
        padding: 0px 20px 60px;
    }
    .col2-left-layout .col-left, .col2-left-layout .col-main {  float: none !important; width: 100% !important; }
    .col2-right-layout .col-right, .col2-right-layout .col-main {  float: none !important; width: 100% !important;  margin-left: 0; }
    .col1-layout .col-main { float: none !important; width: 100% !important; }

    .mnav { display: block; }
    #nav { display: none; }

    /* form elements */

    .form-list, .input-box select { width:100%; }
    .form-list li, .form-list li .field { width:100%; margin-right:0; }
    .form-list li .field + .field { margin-top:10px; }
    .form-list li.street-address .input-box input.input-text { width:92%; }
    .form-list li.select-address { width:100%; }

    .form-guest { width: 100%; }

    .buttons-set button { float:none; }
    .buttons-set a { display:block; }

    /********************/


    .col2-set .col-2, .col2-set .col-1 { float: none !important; width: 100% !important;}

    .header { margin: 0; padding: 9px; }

    .quick-access .show-on-phones { display: none; }
    .quick-access { margin: 0; }
    .quick-access .links, .quick-access .links li { float: none; margin: 0 2px;}
    .quick-access .links { padding: 9px 0; display: inline-block; text-align: center; width: 100%; }
    .quick-access .links li { }
    .quick-access .links a {  }
    .quick-access .links li.last a { }


    .form-search { display: inline-block; position: static; margin: 18px 0; }

    .nav-container { height: auto; margin: 0; }
    #nav ul ul, #nav ul div { display: none; }

    .link-compare { display: none; }
    .block-compare { display: none; }

    .products-grid li.item { width: 240px; }
    .sorter .view-mode { display: none; float: left; margin: 0; }
    .product-view .product-shop { clear: both; width: 100%; }

    .block { border: 1px solid #ccc; padding: 18px 20px; }

    .sorter .sort-by, .sorter .limiter  { margin: 3px 0; }
    .sorter .sort-by { }
    .pager .pages { }
    .pager .limiter { display: none; float: right;  }

    .col1-layout .product-view .product-img-box { width: 240px; }
    .col1-layout .product-view .product-shop { clear: both; float: left; width: 100%; }
    .products-list .product-shop { margin-left: 0; }
    .product-view .product-shop { clear: both; margin-top: 20px; float: none; }
    .product-view .box-tags .form-add .input-box { width: 100%; }

    .cart-table .btn-continue { float: left; margin-bottom: 18px; }
    .cart-table  .btn-update { float: right; }
    .cart div.discount, .cart div.shipping { float: none; width: 100%;  }
    .cart .totals { width: 100%; clear: both; }

    .opc .step-title h2 { font-size: 12px; font-family: Tahoma, Helvetica, Arial, sans-serif; }
    .opc .step-title .number { top: 18px; }
    .checkout-onepage-index .col-left { display: none; }
    .checkout-onepage-index .col2-set .col-1 { float: none; width: 100%; }
    .checkout-onepage-index .col2-set .col-2 { float: none; width: 100%; margin-top: 20px; }
    .opc .step { border: none; padding: 15px 0; }


    .product-view .product-shop .add-to-links li { display: block; }


    .cms-home ul.product-tabs { clear: both; }
    .cms-home .home-tabs .tabs-title strong { font-size: 26px; line-height: 1.38415385; float: none; }

    .products-grid li.item { position: relative; width: 240px; }

    .add-to-cart label {  margin-right: 0; }
    .add-to-cart button.button { float: right; }

    .product-tabs li { float: none; border-right: none; border-bottom: 1px solid #ccc; }
    .product-tabs li.first a { border: 0; border-radius: 0; }
    .product-tabs li.last a { border: 1px 0; }
    .product-tabs  a { border-width: 1px 0; }
    .product-tabs li.active a, .product-tabs li.active a:hover { border: 1px 0; border-radius: 0; color: #fff; background: #444; }

    .product-options ul.options-list li { border: 1px solid #CCCCCC; margin: 9px 0; padding: 8px 5px; text-align: center; }
    .product-options ul.options-list .label { margin-left: 0; }

    .flex-direction-nav li a { display: none; }

    .footer-left, .footer-right { float: none; width: 100%; }
    .footer-right { clear: both;  }
    .footer .show-on-phones { display: block; }
    .footer .help, .footer .search, .footer .store-switch { width: 150px;}
    .footer .form-subscribe input.input-text { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
    .footer .form-subscribe label, .footer .form-subscribe .input-box, .footer .form-subscribe button.button { float: none; display: block; }
    .footer .form-subscribe button.button { margin-top: 9px; text-shadow: 1px 1px #444; }

    .page-sitemap .links { margin: 18px 0; text-align: left; }

}



/*		Wide Mobile Layout: 480px.
		Gutters: 20px.
		Outer margins: 20px.
		Inherits styles from: Default Layout, Mobile Layout.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6     
px      40    100    160    220    280    340                        */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .page{
        width: 340px;
        padding: 0px 20px 48px;
    }

    .mnav { display: block; }
    #nav { display: none; }

    /* form elements */

    .input-box select { width:97%; }
    .form-list li.wide { width:100%; }

    .buttons-set button { float:left; }
    .buttons-set a { display:inline; }

    /************/

    .sorter .sort-by, .sorter .limiter  { float: right; }

    .products-grid li.item { position: relative; width: 157px; }

    .sorter .view-mode { float: left; margin: 0; }

    .col1-layout .product-view .product-img-box { width: 340px; }

    .products-list .product-shop { margin-left: 185px; }

    .add-to-cart button.button { float: none;}

    .product-tabs a { border-style: none; }


}

/********* END MEDIA QUERIES ************************************/

/******************** IE FIXES  ************************************************/

/* IE 6 only */
.lt-ie7 .validation-advice { height:13px; }
.lt-ie7 .main { height:350px; }
.lt-ie7 .account-login .content { height:200px; }
.lt-ie7 .block li.item,
.lt-ie7 .block-poll li,
.lt-ie7 .opc li.section { vertical-align:top; }

.lt-ie7 button.button span { background-image:url(../images/bkg_btn.gif); }
.lt-ie7 .form-search button.button span,
.lt-ie7 .block button.button span,
.lt-ie7 .product-view .box-tags .form-add button.button span,
.lt-ie7 .footer .form-subscribe button.button span { background-image:url(../images/bkg_btn-small.gif); }
.lt-ie7 .window-overlay { background:#ccc; filter:alpha(opacity=50); }

/* Doubled Margin Fixes */
.lt-ie8 .product-view .product-img-box .more-views li,
.lt-ie8 .product-view .box-tags .form-add .input-box,
.lt-ie8 .sp-methods select.month,
.lt-ie8 .footer .form-subscribe .input-box { display:inline; }

/* Forms */
.lt-ie9 .input-box input.input-text { line-height: 34px; }
.lt-ie8 .button { padding: 7px 10px 7px; }
.lt-ie8 .footer .form-subscribe button.button { position: relative; top: 1px; }

.input-box input.input-text

/********** < Navigation styles */
.lt-ie8 .header, .lt-ie8 .nav-container { z-index: 1; }
.lt-ie8 #nav ul, .lt-ie8 #nav div { z-index: 1000; }
.lt-ie8 #nav li a { zoom:1; }
.lt-ie8 #nav li { vertical-align:top; }
/********** < Navigation styles */


.lt-ie8 .remember-me-popup .remember-me-popup-body a span, .lt-ie8 .truncated a.details, .lt-ie8 .cart .crosssell li.item, .lt-ie8 .product-options dd .time-picker, .lt-ie8 #nav, .lt-ie8 .form-list li.fields, .lt-ie8 .form-list li.wide, .lt-ie8 .form-list li , .lt-ie8 .form-search, .lt-ie8 .cart .crosssell li.item, .lt-ie8 #nav, .lt-ie8 .products-grid li.item, .lt-ie8 .mini-products-grid td  { display: inline-block; zoom: 1; *display: inline; }

.lt-ie8 table { scrollbar-face-color:expression(runtimeStyle.scrollbarFaceColor = '#fff', cellSpacing = 0); }

.lt-ie8 .product-view .product-img-box .zoom.disabled { filter:alpha(opacity=30); }

.lt-ie8 .gift-messages-form { position:relative; zoom:1; }

.lt-ie8 .tool-tip .btn-close a { margin:0; }

.lt-ie8 .product-view .box-tags .product-tags li { padding:0 4px 0 7px; }
.lt-ie8 .footer li { padding-right:2px; margin-right:6px; }

.lt-ie8 .product-options dd .time-picker select { margin:0; padding:0; position:relative; top:-1px; }

/* Clearer */
.lt-ie8 .clearer { display:block; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

/* Clears and hasLayout fixes */
.lt-ie8 .header-container,
.lt-ie8 .header-container .top-container,
.lt-ie8 .header,
.lt-ie8 .top-bar,
.lt-ie8 .quick-access,
.lt-ie8 .form-search,
.lt-ie8 #nav,
.lt-ie8 .main,
.lt-ie8 .footer,
.lt-ie8 .footer .form-subscribe,
.lt-ie8 .footer-container .bottom-container,
.lt-ie8 .col-main,
.lt-ie8 .col2-set,
.lt-ie8 .col3-set,
.lt-ie8 .col4-set,
.lt-ie8 .messages li,
.lt-ie8 .search-autocomplete li,
.lt-ie8 .block,
.lt-ie8 .block .block-content,
.lt-ie8 .block .actions,
.lt-ie8 .block li.item,
.lt-ie8 .block-poll li,
.lt-ie8 .block-poll .label,
.lt-ie8 .block-layered-nav .currently li,
.lt-ie8 .block-account .block-content li a,
.lt-ie8 .mini-products-list .product-details,
.lt-ie8 .page-title,
.lt-ie8 .rss-title h1,
.lt-ie8 .products-grid,
.lt-ie8 .products-list li.item,
.lt-ie8 .box-account .box-head,
.lt-ie8 .dashboard .box .box-title,
.lt-ie8 .order-info ul,
.lt-ie8 .box-reviews li.item,
.lt-ie8 .box-tags li.item,
.lt-ie8 .pager,
.lt-ie8 .sorter,
.lt-ie8 .ratings,
.lt-ie8 .add-to-box,
.lt-ie8 .add-to-cart,
.lt-ie8 .product-essential,
.lt-ie8 .product-collateral,
.lt-ie8 .product-tabs,
.lt-ie8 .product-view .product-img-box .more-views ul,
.lt-ie8 .product-view .box-tags .form-add,
.lt-ie8 .product-view .product-shop .short-description,
.lt-ie8 .product-view .box-description,
.lt-ie8 .product-options .options-list li,
.lt-ie8 .product-options,
.lt-ie8 .product-options-bottom,
.lt-ie8 .truncated,
.lt-ie8 .truncated .truncated_full_value,
.lt-ie8 .product-review,
.lt-ie8 .cart,
.lt-ie8 .cart-collaterals,
.lt-ie8 .cart .crosssell li.item,
.lt-ie8 .cart .discount,
.lt-ie8 .cart .discount .discount-form,
.lt-ie8 .cart .shipping .shipping-form,
.lt-ie8 .opc .step-title,
.lt-ie8 .opc .step,
.lt-ie8 .multiple-checkout,
.lt-ie8 .sp-methods,
.lt-ie8 .checkout-progress,
.lt-ie8 .multiple-checkout .place-order,
.lt-ie8 .form-list li,
.lt-ie8 .form-list .field,
.lt-ie8 .form-list .input-box,
.lt-ie8 .group-select li,
.lt-ie8 .buttons-set,
.lt-ie8 .page-print .print-head,
.lt-ie8 .cart-tax-total,
.lt-ie8 .advanced-search-summary,
.lt-ie8 .advanced-search-summary p,
.lt-ie8 .gift-messages-form .item,
.lt-ie8 .send-friend .form-list li p,
.lt-ie8 .centinel .authentication { zoom:1; }

/* Hover Fix */
.lt-ie8 iframe.hover-fix { position:absolute; left:-1px; top:-1px; z-index:-1; background:transparent; filter:progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0); }

/***** End IE Fix ******************************/


/* ==|== print styles =======================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */

@media print {
    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* h5bp.com/t */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }

    /** Print styles from Modern Theme *******/

    /*      * { background:none !important; text-align:left !important; }           */
    html  { margin:0 !important; padding:0 !important; }
    body  { background:#fff !important; font-size:9pt !important; padding:0 !important; margin:10px !important; }
    a     { color:#2976c9 !important; }
    th,td { color:#2f2f2f !important;  border-color:#ccc !important; }

    .header-container,
    .nav-container,
    .footer-container,
    .pager,
    .toolbar,
    .actions,
    .buttons-set { display:none !important; }

    .page-print .data-table .cart-tax-total { background-position:100% -54px; }
    .page-print .data-table .cart-tax-info { display:block !important; }
}
